.player-container {
  position: relative;
  height: calc((9 / 16) * 100vw);
  max-height: calc(100vh - 185px);
  min-height: 480px;
  width: 100%;
}

.player-controls {
  width: 100%;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 36px;
  background-color: hsla(240, 14%, 3%, 0.55);
  padding: 5px 20px;
}

.control-button:disabled {
  opacity: 0.5;
}

.control-button {
  display: inline-block;
  padding: 0;
  border: 0;
  outline: 0;
  width: 46px;
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  font-size: 100%;
}

.player-controls .player-controls-container {
  position: relative;
}

.player-controls .player-slider {
  position: absolute;
  top: -14px;
  width: 100%;
}

.rc-slider-mark-text {
  margin-top: -40px;
  color: #fff;
  font-weight: bold;
}

.rc-slider-track {
  background-color: #f00;
}

.rc-slider-handle {
  background-color: #f00;
  border-color: #f00;
}

.rc-slider-dot-active {
  border-color: #f00;
}

.controls-group {
  display: inline-block;
}

.controls-group .control-button {
  width: 17px;
}

.remove-preview-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  opacity: 0.3;
}

.remove-preview-icon:hover {
  opacity: 1;
}
